<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="adress">
               <p>
                Юр. адрес: <br>   
                ООО «Новартис Фарма», 125315, г. Москва, Ленинградский проспект, д. 70, <br>
                Тел.: <a href="+74959671270">+7 (495) 967 12 70</a>, Факс: <a href="+74959671268">+7 (495) 967 12 68</a></p>
                <a href="https://www.novartis.com/" class="website">www.novartis.com</a>
            </div>
            <div class="mailing">
                <div class="text">
                    <p>Получайте свежие новости и полезные материалы в нашей рассылке</p>
                </div>
                <div class="send-box">
                    <form action="#">
                        <input type="text" placeholder="Введите ваш e-mail">
                        <button type="submit">Подписаться</button>
                    </form>
                    <p>Нажимая на кнопку «Подписаться» вы соглашаетесь с <a href="#">Политикой конфиденциальности</a></p>
                </div>
            </div>
            <div class="copy">© Fibonacci Digital, 2022</div>
            <div class="standart">437060/GenMed/WEB/04.22/0</div>
            <div class="dev">Сайт разработан при поддержке ООО “Новартис     Фарма” (в целях повышения осведомленности пользователей о заболевании рассеянный склероз)</div>
            <a href="#" class="policy">Политика конфиденциальности</a>

        </div>
    </div>
</footer>
