<header class="header header_home">
    <div class="container">
        <div class="navmenu">
            <div class="brand">
                <a href="/index.html"><img src="../../img/logo/logo.svg" alt=""></a>
            </div>
            <div class="logo"><a href="/front-page.html"><img src="../../img/logo/logo-main.svg" alt=""></a></div>
            <div class="navbar">
                
                <nav>
                    <ul class="nav-list">
                        <li class="nav-item"><a href="page-articles.html" class="nav-link">Рассеянный склероз</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Клинические случаи</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Мероприятия</a></li>
                        <li class="nav-item"><a href="page-helper.html" class="nav-link">Полезные материалы</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Карта клиник</a></li>
                    </ul>
                </nav>
            </div>
            <div class="search">
                <a href="page-search.html" class="search-btn">
                    <button type="submit"><img src="../../img/icon/search.svg" alt=""></button>
                    <span>Поиск по сайту</span>
                </a>
            </div>
            <div class="menu__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
