.article-header {
    background-image: url(../img/articles/header-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header__block.articles {
    .page-header__box, .post__count {
        display: none;
    }
    .link-back {
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
    .archive-link {
        display: none;
    }
    .page-header__title {
        font-size: 42px;
        line-height: 62px;
        color: #000000;
        margin-bottom: 5px;
    }
    .page-header__subtitle {
        font-family: $font-family-Light;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        max-width: 510px;
    }
}
.articles__posts {
    padding: 44px 0;
    background: #E3F0F1;
    .articles__posts__block {
        .articles__post {
            margin-bottom: 20px;
            position: relative;
            border-radius: 0 0 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 0;
            color: #FFFFFF;
            padding: 148px 30px 132px;
            .bg-img {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 0 0 20px 0;
                z-index: -1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 0 0 20px 0;
                }
            }
            .post-title {
                font-size: 25px;
                line-height: 37px;
                text-transform: uppercase;              
                color: #FFFFFF;
                &:hover {
                    color: #FFFFFF;
                }
            }
        }
    }
}



@media (max-width: 768px) {
    .page-header__block.articles {
        padding-top: 60px;
    }
    .articles__posts {
        .articles__posts__block {
            margin-top: -80px;
            .articles__post {
                border-radius: 20px;
                .bg-img {
                    border-radius: 20px;
                    img {
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .page-header__block.articles {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 120px;
        .page-header__subtitle {
            font-size: 13px;
            line-height: 19px;
        }
        .page-header__title {
            margin-bottom: 6px;
            span {
                display: none;
            }
        }
    }
    .articles__posts .articles__posts__block .articles__post {
        padding: 52px 0;
    }
    .articles__posts .articles__posts__block .articles__post .post-title {
        width: 65%;
        text-align: center;
    }
}


//  Одиночная запись
.single-post.articles  {
    // background: none;
    position: fixed;
    width: 100%;
}
.single-header.articles {
    padding-top: 100px;
    .single-header__block.articles {
        padding-bottom: 30px;
        .subject, .author, .date, .resource {
            display: none;
        }
        .link-back {
            color: #000000;
        }
        .subtitle {
            font-size: 18px;
            line-height: 27px;
            color: #202F4E;
            font-family: $font-family-Regular;
            max-width: 850px;
        }
    }
}

.single-post {
    .kt-tabs-title-list {
        position: relative;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around !important;
        flex-wrap: nowrap !important;
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100vw;
            background: #E3F0F1;
            z-index: 0;
        }
        .kt-title-item {
            height: 100%;
            z-index: 1;
            margin: 0 !important;
            padding: 0 !important;
            a {
                margin: 0 !important;
                padding: 0 !important;
                height: 100%;
                span.kt-title-text {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    width: max-content; 
                    padding-top: 5px;
                    font-size: 20px;
                    line-height: 18px;
                    color: #202F4E;
                    font-family: $font-family-Light;
                }
            }
        }
    }
}
.single-post.articles-post{
    background: #ffffff;
    .post-content {
        padding: 0;
    }
    
}
.recommendations {
    background: #E4F3FF;
    margin-bottom: 180px;
    padding: 54px 0 140px;
    &__title {
        font-size: 32px;
        line-height: 47px;
        text-align: center;
        color: #202F4E;
        margin-bottom: 60px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
    }
    &__box {
        margin: 0 auto; 
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .box-body {
            margin-bottom: 25px;
            .box-img {
                width: 100%;
                margin-bottom: 20px;
                img {
                    width: 100%;
                }
            }
            p {
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                color: #202F4E;
            }
        }
        .box-footer {
            a.link{
                color: #000000;
                font-family: $font-family-Light;
                font-size: 18px;
                line-height: 27px;
                text-decoration-line: underline;
            }
        }
        &:first-child {
            .box-body {
                p {
                    color: #000000;
                }
            }
        }
    }
}


// мобильная версия одиночной записи
@media (max-width:768px) {
    .recommendations {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .single-header.articles {
        background-image: url(../img/articles/header-bg.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 60px;

         .single-header__block.articles {
            .link-back {
                display: none;
             }
             .single-header__title {
                font-size: 18px;
                line-height: 130%;
                letter-spacing: -0.01em;
                color: #000000;
                margin-bottom: 6px;
             }
             .subtitle {
                font-size: 13px;
                line-height: 19px;
                color: #000000;
                font-family: $font-family-Light;
             }
         }
    }
    .single-post.articles-post {
        position: relative;
        background: #E3F0F1;
        .kt-tabs-title-list {
            position: relative;
            top: -25px;
            min-height: 30px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            &::before {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                right: 0;
                background: none;
                border-bottom: 5px solid #ffffff;
            }
            .kt-title-item {
                margin: 0 !important;
                padding: 0 !important;
                margin-bottom: -5px !important;
                height: 100%;
                a {
                    margin: 0 !important;
                    padding: 0 !important;
                    height: 100%;
                    span.kt-title-text {
                        font-size: 12px;
                        line-height: 18px;
                        color: #000000;
                        font-family: $font-family-Light;
                        padding: 0 10px;
                        text-align: center;
                    }
                }
            }
        }

        .post-content {
            h1, h2, h3, h4, h5, h6 {
                font-family: $font-family-bold;
            }
            p {
                font-family: $font-family-Regular;
            }
        }
    }
    .recommendations__block {
        flex-wrap: wrap;
        .recommendations__box {
            width: 48%;
            margin-bottom: 30px;
            .box-footer {
                text-align: center;
                .link {
                    text-align: center;
                    margin: 0 auto;
                    font-size: 14px;
                    line-height: 21px;
                    font-family: $font-family-Light;
                }
            }
        }
    }
}
@media (max-width:600px) {
    .single-post.articles  {
        background: none;
        .navmenu .header__link-back .link-back{
            color: #0460A9;
        }
    }
    .single-header.articles {
        padding-top: 60px;
    }
    .recommendations__title {
        text-align: left;
        margin-left: 10px;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.01em;
    }
    .recommendations__block {
        padding: 16px 0 0;
        .recommendations__box {
            padding: 0 45px;
            width: 100%;
            .box-body {
                .box-img {
                    margin-bottom: 0;
                    img {
                        width: 100%;
                        max-height: 150px;
                       object-fit: cover;
                       object-position: center;
                    }
                }
                p {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
    }
    .single-post.articles-post .tabs {
        top: -45px;
        .tabs__block  {
            height: 50px;
            align-items: start;
            .slick-list {
                margin-top: 5px;
                height: 100%;
                .slick-track {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }
        }
    }
    .single-post.articles-post .tabs .tabs__block .tabs__link {
        margin-top: 0px;
        padding: 2px;
        text-align: center;
        display: flex;
        justify-content: center;
        &.active {
            &::after {
                bottom: 0px;
            }
        }
    }
}

@media (max-width: 550px) {
    .single-post.articles-post .kt-tabs-title-list {
        top: -40px;
        min-height: 45px;
        .slick-list {
            margin-bottom: -3px;
        }
        .slick-track {
            display: flex;
            align-items: end;
        }
    }
    .single-post.articles-post .kt-tabs-title-list .kt-title-item {
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .single-post.articles-post .kt-tabs-title-list .kt-title-item a {
        display: flex;
        justify-content: center;
    }
}