.helper-header {
    background-image: url(../img/helper/header-bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .page-header__block {

        .link-back,  .page-header__title {
            color: #000000;
        }
        .page-header__box, .post__count, .archive-link  {
            display: none;
        }
        .page-header__subtitle {
            font-family: $font-family-Light;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            max-width: 500px;
        }
    }
    .container {
        .helper-header {
            background: none;
            padding: 0;
            padding-top: 35px;
            padding-bottom: 50px;
        }
    }
}
.helper__posts {
    padding: 50px 0 120px;
    background: #FFFFFF;
    .helper__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 100px;
        .helper__box {
            width: 49%;
            padding: 0px 49px 0;
            margin-bottom: 20px;
            background-image: url(../img/helper/card-1.webp);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            &:nth-child(2n) {
                background-image: url(../img/helper/card-2.webp);
            }
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a.title {
                font-size: 25px;
                line-height: 37px;
                text-transform: uppercase;           
                color: #0460A9;
                font-family: $font-family-bold;
                margin-bottom: 20px;
            }
            p.excerpt {
                font-size: 16px;
                line-height: 24px;
                font-family: $font-family-Light;
                color: #000000;
                max-width: 500px;
            }
        }
    }

    //посты
    .helper__posts__block {
        .posts__header {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 40px;
            h2.title {
                font-size: 40px;
                line-height: 130%;
                letter-spacing: -0.01em;
                color: #202F4E;
                margin-right: 70px;
            }
            .link {
                font-size: 21px;
                line-height: 130%;
                letter-spacing: -0.01em;
                text-decoration-line: underline;
                color: #202F4E;
                display: flex;
                align-items: center;
                img {
                    margin-left: 15px;
                }
            }
            p {
                width: 100%;
                font-family: $font-family-Light;
                font-size: 18px;
                line-height: 27px;
                color: #000000;
            }
        }
        .posts__box {
            display: flex;
            margin: 0 -20px;
            flex-wrap: wrap;
            .helper__post {
                padding: 0 20px;
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .box-body {
                    display: flex;
                    flex-direction: column;
                    .box-img {
                        background: #202F4E;
                        @include flex-center;
                        width: 100%;
                        max-height: 250px;
                        height: 100%;
                        padding: 50px;
                        margin-bottom: 20px;
                    }
                    a.title {
                        font-size: 20px;
                        line-height: 29px;
                        font-family: $font-family-bold;
                        color: #202F4E;
                        margin-bottom: 3px;
                    }
                    a.tax {
                        font-size: 14px;
                        line-height: 135%;
                        color: #5379F9;
                        margin-bottom: 1px;
                    }
                }
                .box-footer {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    a.excerpt {
                        font-size: 16px;
                        line-height: 24px;
                        color: #202F4E;
                        margin-bottom: 8px;
                    }
                    a.btn {
                        @include btn-rec;
                        font-size: 12px;
                        width: 100%;
                        height: 40px;
                        line-height: 135%;
                        color: #202F4E;
                    }
                    a.date {
                        margin-top: 15px;
                        font-size: 14px;
                        line-height: 25px;
                        color: #B3BDC5;
                        font-family: $font-family-Light;
                    }
                }
            }
        }
    }
}









.map {
    padding: 40px 0 67px;
    .no-found {
        margin-top: 40px;
        color: #ffffff;
    }
    .map__block {
        h2.title {display: none;}
            
        .map__form {
            display: flex;
            justify-content: space-between;
            // select
            .custom-select-wrapper {
                position: relative;
                display: inline-block;
                user-select: none;
                max-width: 225px;
                width: 100%;
                margin-right: 12px;
              }
                .custom-select-wrapper select {
                  display: none;
                  opacity: 0;
                }
                .custom-select {
                  position: relative;
                  display: inline-block;
                  width: 100%;
                }
                  .custom-select-trigger {
                    font-family: $font-family-bold;
                    height: 40px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0 13px 0 18px;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                    color: #1F2E4D;
                    cursor: pointer;
                    background: #FFFFFF;
                    border: 1.12808px solid #F1F0F0;
                    border-radius: 11.2808px;
                  }
                    .custom-select-trigger:after {
                      position: absolute;
                      display: block;
                      content: '';
                      width: 10px; height: 10px;
                      top: 50%; right: 18px;
                      margin-top: -3px;
                      border-bottom: 1px solid #1F2E4D;
                      border-right: 1px solid #1F2E4D;
                      transform: rotate(45deg) translateY(-50%);
                      transition: all .4s ease-in-out;
                      transform-origin: 50% 0;
                    }
                    .custom-select.opened .custom-select-trigger:after {
                      margin-top: 3px;
                      transform: rotate(-135deg) translateY(-50%);
                    }
                .custom-options {
                  position: absolute;
                  display: block;
                  top: 100%; left: 0; right: 0;
                  min-width: 100%;
                  margin: 15px 0;
                  border: 1px solid #b5b5b5;
                  border-radius: 4px;
                  box-sizing: border-box;
                  box-shadow: 0 2px 1px rgba(0,0,0,.07);
                  background: #fff;
                  transition: all .4s ease-in-out;
                  
                  opacity: 0;
                  visibility: hidden;
                  pointer-events: none;
                  transform: translateY(-15px);
                }
                .custom-select.opened .custom-options {
                  opacity: 1;
                  visibility: visible;
                  pointer-events: all;
                  transform: translateY(0);
                  z-index: 10;
                }
                  .custom-options:before {
                    position: absolute;
                    display: block;
                    content: '';
                    bottom: 100%; right: 25px;
                    width: 7px; height: 7px;
                    margin-bottom: -4px;
                    border-top: 1px solid #b5b5b5;
                    border-left: 1px solid #b5b5b5;
                    background: #fff;
                    transform: rotate(45deg);
                    transition: all .4s ease-in-out;
                  }
                  .option-hover:before {
                    background: #f9f9f9;
                  }
                  .custom-option {
                    position: relative;
                    display: block;
                    padding: 0 22px;
                    border-bottom: 1px solid #b5b5b5;
                    font-size: 18px;
                    font-weight: 600;
                    color: #b5b5b5;
                    line-height: 47px;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                  }
                  .custom-option:first-of-type {
                    border-radius: 4px 4px 0 0;
                  }
                  .custom-option:last-of-type {
                    border-bottom: 0;
                    border-radius: 0 0 4px 4px;
                  }
                  .custom-option:hover,
                  .custom-option.selection {
                    background: #f9f9f9;
                  }
            // input
            .map__search {
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                max-width: 945px;
                width: 100%;
                border: 1px solid #EFEEEE;
                border-radius: 11px;
                overflow: hidden;
                padding: 1px;
                .form__btn {
                    border-radius: 0;
                    background: #FFFFFF;   
                    outline: 0;
                    cursor: pointer;
                    height: 40px;
                    width: 40px;
                    margin: 0;
                    border-right: none;
                    @include flex-center;
                }
                .map__input {
                    border-radius: 0;
                    background: #FFFFFF;
                    border: none;
                    outline: 0;
                    height: 40px;
                    margin: 0;
                    border-left: none;
                    padding: 0 12px 0 0;
                    width: 100%;
                    color: #000000;
                    font-size: 9px;
                    line-height: 11px;

                    @include flex-center;
                    &::placeholder {
                        font-weight: 700;
                        font-size: 9px;
                        line-height: 11px;
                        color: #B8B9BA;
                    }
                    
                }
            }

        }
        .map__box {
            display: flex;
            width: 100%;
            overflow:hidden;
            justify-content: space-between;
            min-height: 300px;
            max-height: 460px;
            .map__adress {
                overflow-y: scroll;
                width: 45%;
                overflow-x: hidden;
                padding-right: 15px;
                margin-right: 1%;
                .box {
                   padding: 32px 20px 32px 34px;
                   background: #FFFFFF;
                    border-radius: 11px;
                    margin-bottom: 5.5px;
                    
                    z-index: 1;
                   cursor: pointer;
                   position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                        background: linear-gradient(73.73deg, #6A8CF9 -9%, #DF6449 108.17%);
                        border-radius: 11px;
                        z-index: -2;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 1px;
                        bottom: 1px;
                        right: 1px;
                        left: 1px;
                        background: #ffffff;
                        border-radius: 11px;
                        z-index: -1;
                    }

                   &:last-child  .text-box {
                    border-bottom:  none;
                   }
                   .text-box {
                   }
                    h3.title {
                        font-size: 20px;
                        line-height: 29px;
                        color: #6A8CF9;
                        margin-bottom: 18px;
                    }
                    .adress {
                        font-size: 13px;
                        line-height: 16px;
                        color: #1F2E4D;
                        margin-bottom: 5px;
                    }
                    .box-footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        a.phone {
                            width: 140px;
                            font-size: 13px;
                            line-height: 16px;
                            color: #1F2E4D;
                        }
                        a.site {
                            margin-left: auto;
                            width: 140px;
                            font-size: 13px;
                            line-height: 16px;
                            color: #6A8CF9;
                            text-decoration: underline;
                            text-align: right;
                        }
                        span.empty {
                            width: 140px;
                            display: none;
                        }
                    }
                    .map-code {
                        display: none;
                    }
                    &.active {
                        background: linear-gradient(88.22deg, #6A8CF9 8.86%, #DF6449 109.48%);
                        &::after, &:before {
                            content: none;
                        }
                           .text-box {
                            border-bottom:  none;
                           }
                         h3.title {
                            color: #FFFFFF;
                         }
                         .adress {
                            color: #FFFFFF;
                         }
                         .box-footer {
                             a.phone {
                                color: #FFFFFF;
                             }
                             a.site {
                                color: #FFFFFF;
                             }
                         }
                    }
                }
                &::-webkit-scrollbar-button {
                    background-image:url('');
                    background-repeat:no-repeat;
                    width:7px;
                    height:100%;
                }
                    
                &::-webkit-scrollbar-track {
                    background: #FFFFFF;
                    border-radius: 11.0043px;
                }
                
                &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                    background: #B8B9BA;
                    border-radius: 11.0043px;
                }
                
                &::-webkit-scrollbar-thumb:hover{
                    background: #B8B9BA;
                }
                
                &::-webkit-resizer{
                    background-image:url('');
                    background-repeat:no-repeat;
                    width:7px;
                    height:0px;
                }
                
                &::-webkit-scrollbar{
                    width: 7px;
                }
            }
            .map__frame {
                padding: 11px;
                width: 54%;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: 0px;
                    left: 0px;
                    background: linear-gradient(73.73deg, #6A8CF9 -9%, #DF6449 108.17%);
                    border-radius: 11px;
                    z-index: -2;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 1px;
                    bottom: 1px;
                    right: 1px;
                    left: 1px;
                    background: #ffffff;
                    border-radius: 11px;
                    z-index: -1;
                }
                .map-code {
                    height: 100%;
                    img, iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

// .helper__map {
//     background: #0460A9;
//     padding: 58px 0 96px;
//     .map__block {
//         h2.title {
//             display: block;
//             color: #FFFFFF;
//             font-size: 40px;
//             line-height: 130%;
//             letter-spacing: -0.01em;
//             margin-bottom: 23px;
//         }
//     }
// }
.header__map {
    padding: 50px 0;
    background: linear-gradient(180deg, #0460A9 0%, #085491 100%);
    .container {
        .header__map {
            padding: 0;
            background: none;
        }
    }
    .page-header__block  {
        .page-header__box,  .archive-link, .post__count {
            display: none;
        }
        .link-back, .page-header__title {
            color: #ffffff;
        }
    }
}
.header.map {
    .navmenu .header__link-back {
        .link-back {
            color: #ffffff;
        }
    }
}


@media (max-width: 990px) {
    .helper__posts .helper__posts__block .posts__box .helper__post {
        width: 50%;
        margin-bottom: 20px;
    }
    .map .map__block .map__box {
        flex-direction: column;
        max-height: 100%;
        .map__adress {
            order: 2;
            width: 100%;
            height: 700px;
        }
        .map__frame {
            order: 1;
            width: 100%;
            height: 90vw;
            margin-bottom: 5px;
        }
    }
    .map .map__block .map__box .map__adress {
        padding-right: 0;
        margin-right: 0;
        &::-webkit-scrollbar-track {
            display: none;
        }
        
        &::-webkit-scrollbar-thumb {
            display: none;
        }
    }
}
@media (max-width: 800px) {
    .helper__posts .helper__block .helper__box a.title {
        font-size: 22px;
        line-height: 30px;
    }
}
@media (max-width: 768px) {
    .map .map__block .map__form {
        flex-wrap: wrap;
    }
    .map .map__block .map__form .custom-select-wrapper {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .map .map__block .map__form .map__search {
        margin-bottom: 10px;
    }
    .helper-header {
        padding-top: 60px;
        z-index: 0;
        .page-header__block .page-header__title {
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -0.01em;
            color: #000000;
        }
        .page-header__block {
            flex-direction: column;
            align-items:flex-start !important;
        }
    }
    .helper-header .page-header__block .page-header__subtitle {
        font-size: 13px;
        line-height: 19px;
    }
    .helper__posts {
        background: #E2DEFF;
        padding: 10px 0px;
        
        
    }
    .helper__posts .helper__block {
        display: block;
        margin-top: -50px;
        .helper__box {
            max-width: 350px;
            width: 100%;
            margin: 0 auto 20px;
            max-height: 175px;
            border-radius: 10px;
            a.title {
                font-size: 16px;
                line-height: 24px;
                color: #0460A9;
            }
            p.excerpt {
                font-size: 13px;
                line-height: 19px;  
                color: #000000;
                max-width: 160px;
            }
        }
    }
    .helper__posts .helper__posts__block .posts__header {
        margin-bottom: 15px;
        h2.title {
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -0.01em;
            
            color: #000000;
            margin-right: 50px;
        }
        a.link {
            font-size: 18px;
            line-height: 130%;
            /* or 23px */
            
            letter-spacing: -0.01em;
            text-decoration-line: underline;
            
            color: #000000;
            img {
                display: none;
            }
        }
        p {
            font-size: 13px;
            line-height: 19px;
        }
    }
    //slider
    .helper__posts .helper__posts__block .posts__box {
        margin: 0;
        margin-right: -15px;
        padding-bottom: 60px;
        .slick-list {
            padding: 0 150px 0 0 !important;
            .slick-track {
                display: flex;
                height: 100%;
            }
        }
        .slick-dots {
            bottom: 10px;
            li {
                border: 2px solid #5379F9;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin: 0 7.5px;
                button {
                    display: none;
                }
            }
            li.slick-active {
                background: #0460A9;
            }
        }
        .helper__post {
            background: #FFFFFF;
            border-radius: 10px;
            padding: 0;
            padding-bottom: 20px;
            margin-right: 14px;
            height: 100%;
            .box-body {
                .box-img {
                    border-radius: 10px 10px 0 0;
                    padding: 0;
                    margin-bottom: 25px;
                }
                .title {
                    padding: 0 20px;
                    margin-bottom: 0;
                }
                .tax {
                    display: none;
                }
            }
            .box-footer {
                a.excerpt {
                    padding: 0 20px;
                    font-size: 13px;
                    line-height: 18px;
                    color: #858484;
                }
                a.btn {
                    display: none;
                }   
                .date {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:600px) {
    .helper-header {
        padding-top: 80px;
    }
    .header__map {
        padding-top: 80px;
        .page-header__block .page-header__title {
            span {
                display: none;
            }
        }
    }
    .helper-header .page-header__block .page-header__title {
        span {
            display: none;
        }
    }
    .map {
        .map__block .map__form {
            .map__search {
                margin-bottom: 14px;
                .form__btn {
                    border-radius: 0 0 0 10px;
                    min-width: 42px;
                    height: 42px;
                }
                .map__input {
                    height: 42px;
                }
            }

        }
        .map__block {
            .map__box {
                .map__frame {
                    background: none;
                    padding: 0;
                    img {
                        padding: 0;
                        margin: 0;
                    }
                }
                .map__adress {
                    background: none;
                    max-height: 450px;
                    &::-webkit-scrollbar-button {
                        background-image:url('');
                        background-repeat:no-repeat;
                        width:0px;
                        height:0;
                        }
                        
                        &::-webkit-scrollbar-track {
                        background-color:#E3F0F1;
                        }
                        
                        &::-webkit-scrollbar-thumb {
                        -webkit-border-radius: 0px;
                        border-radius: 0px;
                        background-color:#5379F9;;
                        }
                        
                        &::-webkit-scrollbar-thumb:hover{
                        background-color:#5379F9;;
                        }
                        
                        &::-webkit-resizer{
                        background-image:url('');
                        background-repeat:no-repeat;
                        width:0px;
                        height:0px;
                        }
                        
                        &::-webkit-scrollbar{
                        width: 0px;
                        }
                    .box {
                        border-bottom: none;
                        border-top: 1px solid #0460A9;
                        padding: 18px;
                        h3.title {
                            font-size: 16px;
                            line-height: 24px;
                            color: #5379F9;
                            margin-bottom: 14px;
                        }
                        .adress {
                            font-size: 14px;
                            line-height: 21px;
                            color: #202F4E;
                            margin-bottom: 7px;
                        }
                        .box-footer {
                            a.phone {
                                font-size: 12px;
                                line-height: 18px;
                                color: #202F4E;
                            }
                            a.site {
                                font-size: 13px;
                                line-height: 19px;
                                text-decoration-line: underline;
                                color: #5379F9;

                            }
                            span.empty {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .helper__map {
        padding: 20px 0px 0;
        background: #E3F0F1;
        .map__block h2.title {
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -0.01em;
            color: #000000;
            margin-bottom: 14px;
        }
    }
    .helper__posts .helper__posts__block .posts__box .helper__post {
        justify-content: start;
    }
    .map .map__block .map__box .map__adress .box.active {
        padding: 18px;
    }
    .map_page {
        background: #E3F0F1; 
        padding: 27px 0 50px;
        border-radius:10px 10px 0 0;
        margin-top: -20px;

    }
}
@media (max-width: 390px) {
    .helper__posts .helper__posts__block .posts__box .slick-list {
        padding: 0px 80px 0px 0px !important;
    }
}